.contenedor {
	background-color: rgb(238, 235, 241);
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	height: 500px;
	border-radius: opx;
	margin: 400px;
	margin-top: 100px;
}
h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	float: inline-start;
	margin-left: 20px;
	margin-top: 50px;
}
.img {
	float: right;
	width: 100px;
	height: 100px;
	padding: 30px;
}
.text {
	float: left;
	margin-bottom: 30px;
	padding-right: 250px;
	padding-left: 20px;
}
.text2 {
	float: left;
	margin-bottom: 30px;
	padding-right: 250px;
	padding-left: 20px;
}
body {
	background-color: black;
}
